* {
  --text-primary-color: #fff;
  --text-secondary-color: #000;
  --text-dark-color: #000;
  --text-light-color: #fff;

  --default-mode-bkg: #0984e3;
  --light-mode-bkg: #fff;
  --dark-mode-bkg: #000;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color:#0984e3;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary-color);
  font-weight: 700;
}
p { 
  color: var(--text-primary-color);
  margin: 0.1em;
  background-color: var(--default-mode-bkg);
  font-size: 1.5rem;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.spacer-1{
  height: 1rem;
}
.spacer-2{
  padding-top: 2rem;
}
.ghost-input {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 1px;
  border-color: transparent;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.ghost-input:focus {
  border: 1px solid #313131;
}
.divider-2{
  height: 1px;
  background-color: black;
}

.img-10 img{
  width: 10%;
  
}

.img-05 img{
  width: 5%;
  margin-right: 2%;
}

.resultSection h3 {
  margin: 1em 0 1em 0;
}